//- IGNORE FOR TESTING CLOUDINARY FUNCTIONS


h1.lead Testing Form 
    if display 
        form(method='POST' enctype="multipart/form-data")
            label.form-control(for='profilePic') Profile Photot Upload: 
            input.form-control(type='file' name='profilePic')
            button.btn.btn-primary(type='Submit') Submit
    else 
        img(src=secure_url height='50px' width='50px')

    
    ul  
        li
            a(href='/abc/def' ) BACK
        li
            a(href='/' ) HomePage
